
<div class="py-10 mt-10 bg-gray-200 w-full flex flex-row justify-center items-center">
	<p class="montserrat w-1/2 text-center" style="font-size: 15px;">Find any bugs? Have any suggestions and comments? Email us your experience with our application at <strong class="font-bold roboto">{{ site.email }}</strong></p>
</div>
<div class="py-4 bg-gray-700 w-full flex flex-row justify-center items-center">
	<a class="roboto mx-2 text-gray-200 text-center" style="font-size: 12px;" href="{{ site.url }}">Home</a>
	<a class="roboto mx-2 text-gray-200 text-center" style="font-size: 12px;" href="{{ site.download_android }}">Download</a>
	<a class="roboto mx-2 text-gray-200 text-center" style="font-size: 12px;" href="{{ site.baseurl }}{% link privacy_policy.md %}">Privacy Policy</a>
	<a class="roboto mx-2 text-gray-200 text-center" style="font-size: 12px;" href="{{ site.baseurl }}{% link termsandconditions.md %}">Terms and Conditions</a>
</div>
<div class="py-2 bg-gray-600 w-full flex flex-row justify-center items-center">
	<p class="roboto mx-1 text-gray-200 text-center" style="font-size: 10px;">Copyright© September 2020</p>
</div>